# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (2).csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('applicants_data.csv')

# Review the DataFrame
# YOUR CODE HERE

applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
# YOUR CODE HERE

applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(['EIN', 'NAME'], axis=1)

# Review the DataFrame
# YOUR CODE HERE

applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 


categorical_variables = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "INCOME_AMT", "ORGANIZATION", "SPECIAL_CONSIDERATIONS",]


# Display the categorical variables list

# YOUR CODE HERE
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'INCOME_AMT',
 'ORGANIZATION',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
one_hot_encoder = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder

encoded_data = one_hot_encoder.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = one_hot_encoder.get_feature_names(categorical_variables)
)

# Review the DataFrame
# YOUR CODE HERE
encoded_df.tail()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame

numerical_df = applicant_data_df.drop(columns = categorical_variables)
final_encoded_df = pd.concat([numerical_df,encoded_df], axis = 1)

final_encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = final_encoded_df.IS_SUCCESSFUL

# Display a sample of y
# YOUR CODE HERE

y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = final_encoded_df.drop('IS_SUCCESSFUL', axis=1)

# Review the features DataFrame
# YOUR CODE HERE

X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

X_train_scaled

array([[ 0.01079982, -0.02957055, -0.12358845, ..., -1.47346684,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.12358845, ...,  0.67867153,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.12358845, ...,  0.67867153,
         0.02925687, -0.02925687],
       ...,
       [ 0.01079982, -0.02957055, -0.12358845, ..., -1.47346684,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.12358845, ..., -1.47346684,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.12358845, ..., -1.47346684,
         0.02925687, -0.02925687]])

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])


# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  8

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

8

In [19]:
# Create the Sequential model instance

nn = Sequential()

In [20]:
# Add the first hidden layer
# YOUR CODE HERE

nn.add(Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation = 'relu'))

In [21]:
# Add the second hidden layer
# YOUR CODE HERE

nn.add(Dense(units = hidden_nodes_layer2, activation = 'relu'))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE

nn.add(Dense(units = number_output_neurons, activation = 'sigmoid'))

In [23]:
# Display the Sequential model summary
# YOUR CODE HERE

nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 936

 dense_1 (Dense)             (None, 8)                 72

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 1,017
Trainable params: 1,017
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
# YOUR CODE HERE

nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [25]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE

fit_model = nn.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6123 - accuracy: 0.7014
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5650 - accuracy: 0.7267
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5567 - accuracy: 0.7290
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5535 - accuracy: 0.7300
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7301
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7310
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7306
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7309
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7320
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7313
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7321
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7324
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7331
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7321
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7318
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7314
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7321
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7327
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7317
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7335
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7316
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7336
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7333
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7320
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7331
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7332
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7332
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7332
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7331
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7332
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7344
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7346
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7332
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7354
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7343
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7345
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7348
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7353
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7353
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7357
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7347
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7345
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7348
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7356
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7349
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7352
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7349
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7362
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7358
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7353

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5573 - accuracy: 0.7277 - 436ms/epoch - 2ms/step
Loss: 0.5572828054428101, Accuracy: 0.7276967763900757

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
from pathlib import Path

file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE

nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [38]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [39]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 20

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

20

In [40]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [41]:
# First hidden layer
# YOUR CODE HERE


nn_A1.add(Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation = 'relu'))


# Output layer
# YOUR CODE HERE


nn_A1.add(Dense(units = number_output_neurons_A1, activation = 'sigmoid'))


# Check the structure of the model
# YOUR CODE HERE

nn_A1.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 8)                 936

 dense_8 (Dense)             (None, 1)                 9

=================================================================
Total params: 945
Trainable params: 945
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the Sequential model
nn_A1.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [43]:
# Fit the model using 50 epochs and the training data

fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6199 - accuracy: 0.7004
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5702 - accuracy: 0.7257
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5597 - accuracy: 0.7276
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5557 - accuracy: 0.7284
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7303
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7300
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7294
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7312
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7312
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7313
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7310
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7320
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7318
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7315
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7317
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7319
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7306
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7317
Epoch 19/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5469 - accuracy: 0.7314
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5465 - accuracy: 0.7314
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7323
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7319
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7329
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7331
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7332
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7327
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7327
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7328
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7332
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7325
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7326
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7328
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7327
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7328
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7330
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7326
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7328
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7326
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7326
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7326
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7326
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7334
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7331
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7322
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7338
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7323
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7335
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7344
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7330
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7333

#### Alternative Model 2

In [44]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [45]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [46]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 10

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

10

In [47]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [48]:
# First hidden layer
# YOUR CODE HERE

nn_A2.add(Dense(units = hidden_nodes_layer1_A2, input_dim = number_input_features, activation = 'relu'))

# Output layer
# YOUR CODE HERE


nn_A2.add(Dense(units = number_output_neurons_A2, activation = 'sigmoid'))


# Check the structure of the model
# YOUR CODE HERE

nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 10)                1170

 dense_10 (Dense)            (None, 1)                 11

=================================================================
Total params: 1,181
Trainable params: 1,181
Non-trainable params: 0
_________________________________________________________________

In [49]:
# Compile the model
# YOUR CODE HERE


nn_A2.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [50]:
# Fit the model
# YOUR CODE HERE


fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6040 - accuracy: 0.7024
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5645 - accuracy: 0.7234
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5574 - accuracy: 0.7268
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5544 - accuracy: 0.7278
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5528 - accuracy: 0.7287
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7300
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7303
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7301
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7295
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7312
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7306
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7310
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7312
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7312
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7309
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7316
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7311
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7314
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7319
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7329
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7330
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7319
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7326
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7327
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7320
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7335
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7324
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7317
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7315
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7324
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7322
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7327
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7334
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7329
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7330
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7325
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7334
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7331
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7328
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7332
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7341
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7332
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7349
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7335
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7337
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7335
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7340
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7345
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7341
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7343

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [51]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5573 - accuracy: 0.7277 - 301ms/epoch - 1ms/step
Loss: 0.5572828054428101, Accuracy: 0.7276967763900757

In [52]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5575 - accuracy: 0.7285 - 401ms/epoch - 1ms/step
Loss: 0.5575366616249084, Accuracy: 0.7285131216049194

In [53]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5663 - accuracy: 0.7308 - 407ms/epoch - 2ms/step
Loss: 0.5662586688995361, Accuracy: 0.7308454513549805

### Step 3: Save each of your alternative models as an HDF5 file.

In [54]:
# Set the file path for the first alternative model
# Set the model's file path
from pathlib import Path

file_path = Path("Resources/AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE

nn_A1.save(file_path)

In [55]:
# Set the file path for the second alternative model
# Set the model's file path
from pathlib import Path

file_path = Path("Resources/AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
# YOUR CODE HERE

nn_A2.save(file_path)